node_modules
.DS_Store
dist
dist-ssr
*.local
/dist*
pnpm-debug
stats.html
.idea
.env
backend/venv/

# Python
*.pyc
__pycache__/

# Virtual environment
venv/
backend/venv/

# IDE / editor
.vscode/
.idea/
